@import url(./reset.css);
/* theme css */

:root{ /* initialiser les variables pour la palette couleur */
    --blue-primary: #22108e;
    --red-primary: #861515;
    --red-secondary: #d11515;
    --gold-primary: #b1a45e;
    --white-primary: #ffffff;

}
header > h1, section h2, figcaption h3{
    color: var(--gold-primary);
}

figure figcaption p{
    color: var(--blue-primary);
}

/*navigation */
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav, header{
    background-color: var(--blue-primary);
}
nav ul li{
    padding: 1rem;
    width: max-content;
    margin-right: .1rem;
}
nav ul li:first-child{
    background: transparent;
  
}
nav ul li button{
    background-color: var(--red-secondary);
    padding: 2rem;
    color: var(--white-primary);
    /* clip-path: circle(50%); */
    border-radius: 50%;
    border: solid .3rem var(--white-primary);
    font-size: x-large;
    font-weight: bolder;
}

nav ul li img{
    border: solid .5rem var(--white-primary);
    border-radius: 50%;
    background: #000;
}
nav ul li a{
    display: block;
    font-size: 1.8rem;
    text-transform: capitalize;
    color: var(--white-primary);
}
/* 
    header 
*/
header h1{
    font-size: 5.5rem;
    text-transform: uppercase;
    width: max-content;
    margin: 0 auto;
    border-bottom: solid .1rem var(--gold-primary);
    color: var(--white-primary);
}
header{
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: solid .5rem var(--gold-primary);
}
header p{
    text-align: center;
    color: var(--white-primary);
    max-width: 60rem;
    margin: 1rem auto;
}

header img{
    border: solid 1.5rem var(--gold-primary);
}