@import url(./reset.css);
/* theme css */

:root{ /* initialiser les variables pour la palette couleur */
    --blue-primary: #22108e;
    --red-primary: #861515;
    --red-secondary: #d11515;
    --gold-primary: #b1a45e;
    --white-primary: #ffffff;

}
header > h1, section h2, figcaption h3{
    color: var(--gold-primary);
}

figure figcaption p{
    color: var(--blue-primary);
}

/*navigation */
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav, header{
    background-color: var(--blue-primary);
    
}
nav ul li{
    padding: 1rem;
    width: max-content;
    margin-right: .1rem;
}
nav ul li:first-child{
    background: transparent;
  
}
nav ul li button{
    background-color: var(--red-secondary);
    padding: 2rem;
    color: var(--white-primary);
    /* clip-path: circle(50%); */
    border-radius: 50%;
    border: solid .3rem var(--white-primary);
    font-size: x-large;
    font-weight: bolder;
}

nav ul li img{
    border: solid .5rem var(--white-primary);
    border-radius: 50%;
    background: #000;
}
nav ul li a{
    display: block;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--white-primary);
}
/* 
    header 
*/
header h1, section h2{
    font-size: 5rem;
    text-transform: uppercase;
    width: max-content;
    margin: 0 auto;
    border-bottom: solid .1rem var(--gold-primary);
    color: var(--white-primary);
}
header{
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: solid .5rem var(--gold-primary);
    height: 100svh;
}
header p{
    text-align: center;
    color: var(--white-primary);
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 2rem;
}

header img{
    border: solid .1rem var(--gold-primary);
    max-width: 80rem;
}
section{
    background-color: var(--red-primary);
}

section ul, section ul.gallery-primary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
section ul.gallery-primary{
    grid-template-columns: repeat(2, 1fr);
}

section ul{
    padding: 8rem 1rem;
}
section ul li figure figcaption, :is(img){
    display: inline-block;
    width: calc(100% / 2 - .8rem);
    vertical-align: middle;

}
section ul li figure img{
    border: solid .3rem var(--gold-primary);
    margin-right: .8rem;
}
section ul li figure  figcaption h3{
    font-size: 3.0rem;
    color: var(--white-primary);
    border-bottom: solid .1rem var(--gold-primary);
}
section ul li figure  figcaption p{
    font-size: 2rem;
    color: var(--white-primary);
    text-overflow: ellipsis;
}
footer *{
    line-height: 3.5rem;
    text-align: center;
    background-color: var(--red-primary);
    color: var(--white-primary);
}

/* dispositif mobile */
@media screen and (max-width: 80rem){
    body{
        margin: 0 1%;
        background-color: var(--blue-primary);
    }
    header{

        height: auto;
    }
    nav ul{
       /*  display: flex;
        flex-direction: row;
        align-items: center; */
        display: block;
        width: auto;
    }
    nav ul li{
        background-color: #3737e9;
        display: block;
        width: auto;
        margin-bottom: .1rem;
    }

    header p{
        width: auto;
        text-align: justify;
        padding: 1%;
    }
    header img{
      
        width: 100%;
    }
    section ul{
        display: block;
        
    }
    section ul li figure figcaption, :is(img){
        display: block;
        width: calc(100% / 1);
   
    
    }
    header h1, section h2{
     
        width: auto;
        text-align: center;
      
    }
    header h1, section h2{
        font-size: 4rem;
    }

}