/* reset css */
/* element | propriété | valeur */

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

html{
    font-size: 62.5%; /* 16 * 62.5% = 10 */
}

body{
    font: 1.6rem 'Italiana', sans-serif; /* taille de la police + la famille de caractère 16px */
    margin: 0;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    display: grid;
    grid-template-rows: 1fr 1fr auto 1fr;
    height: 100vh;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ol, 
ul, 
blockquote, 
figure{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #222;
}
img{
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}
*{
    box-sizing: border-box;
}
button{
    padding: 0;
    background: transparent;
    border: 0;
}